/* ::::: http://ir.ebaystatic.com/rs/v/2y2jcyvnnu4rpbe0xwgbbehld24.css ::::: */

.gh-clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.gh-hdn { height: 0px; line-height: 0; overflow: hidden; width: 0px; position: absolute; font-size: 0px; z-index: -1; outline: 0px none; }
.gh-ar-hdn { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }
#gh { position: relative; margin: 0px; padding: 35px 0px 10px; white-space: nowrap; }
.gh-w { text-align: left; }
.gh-w a, .gh-w a:visited { color: rgb(6, 84, 186); text-decoration: none; }
.gh-w a:focus, .gh-w a:hover { text-decoration: underline; }
#gh, #gh-ac, #gh-btn.btn, #gAC .ui-menu-item { font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif ! important; }
.gh-w ul, .gh-w li { margin: 0px; padding: 0px; list-style: outside none none; }
.gh-spr, .gh-sprRetina { background-image: url('xiqygkjz2qyibmxshntsverhaeq.png'); background-repeat: no-repeat; }
.gh-sprRetina { background-size: 250px 200px; }
#gh-top, #gh-gb { background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(204, 204, 204); width: 100%; position: absolute; top: 0px; left: 0px; height: 30px; }
#gh-gb { z-index: -1; box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.15); outline: 0px none; }
#gh-topl { margin-top: 1px; text-align: left; }
#gh-topl a, #gh-eb a { color: rgb(51, 51, 51); cursor: pointer; }
#gh-topl a:hover, #gh-eb a:hover, #gh-ug a, #gh-eb-u-o a { color: rgb(6, 84, 186); }
.gh-tbl { width: 100%; margin-top: 0px; background: none repeat scroll 0% 0% transparent ! important; }
.gh-tbl, .gh-tbl2 { border-collapse: collapse; border-spacing: 0px; }
@media not all {
	.gh-tbl2 { width: 100%; }
}
.gh-td { width: 1%; vertical-align: bottom; padding: 0px; }
.gh-td-s { width: 99%; vertical-align: middle; padding: 0px; }
#gh-f { float: none; }
#gh-f::before { transform: rotate(-1deg); }
#gh-ac-box { border: 1px solid rgb(221, 221, 221); background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 38px; padding: 0px 10px 0px 1px; border-radius: 3px 0px 0px 3px; transition: border-color 0.1s linear 0s; }
#gh-ac-box2 { position: relative; white-space: normal; }
#gh-cat-td {  }
#gh ul li { list-style: outside none none; }
#gh-eb { position: absolute; top: 1px; right: 0px; z-index: 99999; }
#gh-topl li:first-child { border: 0px none; }
.gh-menu { position: relative; }
.gh-menu, .gh-sublayer { display: inline; }
.gh-menu > a.ghn-b { padding-top: 0px; }
.gh-menu .gh-submenu { display: none; position: absolute; z-index: 9999; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); padding: 5px 3px 10px 6px; box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.15); border-radius: 0px 0px 3px 3px; margin-top: -1px; min-width: 180px; }
.gh-menu .gh-submenu li > a { font-size: 12px; display: block; padding: 8px 5px; white-space: nowrap; }
.gh-dd .gh-menu > a {  }
.gh-p { padding: 3px 0px 5px; font-size: 12px; }
.gh-acc-exp-div { position: absolute; top: -500px; width: 1px; height: 1px; overflow: visible; }
.gh-acc-a { display: block; font-size: 11px; text-decoration: underline; background-color: rgb(255, 247, 237); white-space: nowrap; z-index: -1; padding: 4px; position: static; }
#gh-eb .gh-acc-exp-div, #gh-eb .gh-acc-exp-a { right: 0px; }
.gh-acc-a:focus { z-index: 9999; position: absolute; top: 530px; display: block; }
#gh-hdn-stm:focus { top: 500px; }
#gh .gh-acc-a2 { display: block; font-size: 11px; text-decoration: underline; background-color: rgb(255, 247, 237); white-space: nowrap; padding: 4px; position: absolute; top: auto; right: 10000px; }
#gh .gh-acc-a2:focus { right: 0px ! important; }
#glbfooter { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-top: 1px solid rgb(204, 204, 204); margin: 10px 0px 0px; padding: 20px 10px 40px; }
#gf-l li { display: inline-block; padding: 0px 20px 10px 0px; }
#glbfooter a { display: inline-block; font-size: 12px; }
.gf-t { width: 100%; margin-top: 20px; }
#gf-l { padding-bottom: 20px; }
#gf-l .gf-li { display: inline-block; padding: 0px; }
.gf-bar-a { padding: 0px 20px 10px 0px; font-size: 12px; display: inline-block; }
.gf-legal {  }
.gf-legal, .gf-legal a, .coreFooterLegalNotice, .coreFooterLegalNotice a { font-size: 11px ! important; }
.gf-legal a { text-decoration: underline ! important; }
.gf-legal a { color: rgb(118, 118, 118) ! important; }
#gf-bp { display: block; width: 570px; height: 60px; }
.gf-bp-bg { background: url('pkss5d1cia0ovmfxwol3xtm0xad.png') no-repeat scroll 0px 0px transparent; }
div.gh-o, div.gh-eb-o { z-index: 9999; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); padding: 5px 3px 10px 6px; box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.15); border-radius: 0px 0px 3px 3px; }
#gh-eb { position: absolute; top: 1px; right: 0px; z-index: 99999; }
li.gh-eb-li { display: inline-block; vertical-align: middle; position: relative; white-space: nowrap; margin: 0px 3px; }
.gh-eb-li-a { position: relative; padding: 5px 10px 6px; font-size: 12px; color: rgb(51, 51, 51) ! important; display: inline-block; border-style: solid; border-color: transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 2px 1px 0px; text-decoration: none ! important; }
.gh-eb-li-a:hover { color: rgb(6, 84, 186) ! important; }
.gh-eb-li:first-child, li#gh-eb-Alerts, .gh-eb-active { background: none repeat scroll 0px center transparent; }
.gh-eb-li {  }
div.gh-eb-o { position: absolute; left: 0px; min-width: 180px; margin-top: -1px; }
.gh-eb-oa { font-size: 12px; display: block; padding: 8px 5px; white-space: nowrap; }
.gh-eb-oa:hover { color: rgb(51, 51, 51) ! important; }
#gh { min-width: 320px; }
body { font-family: Arial,Helvetica,sans-serif; font-size: small; margin-top: 0px; }
form { margin: 0px; padding: 0px; }
a:active, a:link { color: rgb(6, 84, 186); text-decoration: none; }
a:visited { color: rgb(106, 41, 185); text-decoration: none; }
a:hover { text-decoration: underline; }
.g-hdn { height: 0px; line-height: 0; overflow: hidden; width: 0px; position: absolute; font-size: 0px; z-index: -1; outline: 0px none; }
.gh-w form { margin: 0px; }
.gh-w { line-height: 1; font-size: 14px; color: rgb(51, 51, 51); font-family: "Helvetica neue",Helvetica,Arial,sans-serif; }
.gh-w a.thrd, .gh-w a.thrd:visited { color: rgb(118, 118, 118) ! important; }
.gh-w a.thrd:hover { color: rgb(118, 118, 118) ! important; text-decoration: underline; }
.gh-w .l-shad::before { content: ""; position: absolute; z-index: -2; }
.gh-w .lftd::before { bottom: 15px; left: 5px; width: 40%; height: 10%; box-shadow: 0px 15px 6px rgba(0, 0, 0, 0.3); transform: rotate(-4deg); backface-visibility: hidden; }
.gh-w .btn { display: inline-block; vertical-align: baseline; cursor: pointer; text-align: center; text-decoration: none; font-weight: 500; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); border-radius: 3px; box-shadow: 0px 3px 0px rgb(221, 221, 221); padding: 0.5em 1.2em; white-space: nowrap; border: 0px none; }
.gh-w .btn:hover { text-decoration: none; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2); transition: background-position 0.1s linear 0s; background-color: rgb(238, 238, 238); background-position: 0px -15px; }
.gh-w .btn:active { position: relative; top: 1px; }
.gh-w .btn-prim { color: rgb(255, 255, 255); text-decoration: none; background: -moz-linear-gradient(center top , rgb(0, 121, 188), rgb(0, 80, 157)) repeat scroll 0% 0% transparent; }
.gh-w .btn-prim:hover, .gh-w .btn-prim:focus, .gh-w .btn-prim:active { background: none repeat scroll 0% 0% rgb(0, 80, 157); }
.gh-w input[type="text"] { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); }
.gh-w input[type="text"]:focus { transition: border 0.1s linear 0s, box-shadow 0.2s linear 0s; border: 1px solid rgb(170, 170, 170); outline: 0px none; }
.gh-w input[type="text"], .gh-w select { border-radius: 3px; color: rgb(51, 51, 51); margin: 0px 0px 5px; }
a#gh-la { display: block; overflow: hidden; position: relative; text-indent: -9999px; }
#gh-logo { position: absolute; top: -52px; left: 0px; border: 0px none; }
.iclg { width: 117px; height: 48px; }
#gh-shop { width: 90px; margin: 0px 7px 0px 5px; }
#gh-shop-a { display: block; height: 30px; color: rgb(85, 85, 85); border-style: solid; border-color: transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 2px 1px 0px; position: relative; top: -2px; text-decoration: none; white-space: normal; padding: 6px 5px 5px 8px; font-size: 14px; line-height: 14px; }
#gh-shop-ei { background-position: -79px -101px; display: inline-block; height: 7px; margin-left: 4px; position: relative; top: -7px; width: 13px; }
.gh-shop-active #gh-shop-ei, #gh-shop-a:hover #gh-shop-ei { background-position: -79px -109px; }
.gh-shop-active #gh-shop-a, #gh-shop-a:hover { color: rgb(6, 84, 186); }
#gh-ac { font-size: 16px; color: rgb(118, 118, 118); border: 0px none; margin: 0px; padding: 10px 0px 9px 8px; width: 100%; background: none repeat scroll 0% 0% transparent; outline: 0px none; box-shadow: none; }
#gh-ac:focus { color: rgb(0, 0, 0); }
#gh-ac:focus:-moz-placeholder, #gh-ac:focus::-moz-placeholder { color: transparent ! important; }
#gh-cat-box { border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221) rgb(239, 239, 239); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0px 10px; height: 38px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-radius: 0px 3px 3px 0px; }
#gh-cat { color: rgb(51, 51, 51); font: 12px Arial; border-width: 0px; margin-top: 10px; width: 160px; height: 18px; overflow: hidden; text-overflow: ellipsis; background-color: transparent; background-position: 0px 99px; }
@media �	screen {
	#gh-cat:hover, #gh-cat:focus { width: inherit; }
}
#gh-cat option { height: 20px; }
@media not all {
	#gh-cat { border: 0px none; padding-right: 10px; background-position: right -124px; outline: 0px none; }
	#gh-cat:hover { background-position: right -151px; }
}
#gh-btn.btn { margin: 0px 0px 0px 5px; box-shadow: none; font-size: 16px; height: 40px; }
#gh-as { font-size: 11px; position: relative; }
#gh-as-a { display: block; height: 22px; line-height: 20px; padding: 0px 10px; margin: 8px 0px; white-space: nowrap; }
#gh-as-a:hover { color: rgb(6, 84, 186) ! important; text-decoration: none; }
li.gh-t { display: inline-block; font-size: 12px; background-position: -498px -35px; padding: 0px 9px 0px 11px; }
li.gh-t:first-child, #_nkw.gh-t { background: none repeat scroll 0px center transparent; padding: 0px; }
#gh-ug { font-size: 12px; white-space: nowrap; display: inline-block; padding: 5px 17px 6px 10px; border-style: solid; border-color: rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 2px 1px 0px; text-decoration: none; position: relative; left: -10px; }
#gh-ug.gh-ug-guest { padding-right: 5px; }
#gh-eb-Alerts { margin-right: 0px; }
#gh-Alerts-i { background-position: -37px -101px ! important; width: 16px; height: 18px; display: block; overflow: hidden; text-indent: -9999px; font-size: 0px; }
#gh-eb-Alerts .gh-eb-li-a { padding: 2px 17px 3px; vertical-align: top; }
#gh-cart { margin-right: 7px; }
#gh-cart .gh-eb-li-a { padding: 2px 13px 3px 17px; vertical-align: top; }
#gh-cart-i { width: 20px; height: 18px; display: block; overflow: hidden; text-indent: -9999px; font-size: 0px; background-position: -55px -101px ! important; }
.ui-helper-hidden-accessible { border: 0px none; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }
#gAC .ui-autocomplete { position: absolute; top: -1px ! important; left: 1px ! important; cursor: default; }
#gAC .ui-menu { list-style: outside none none; display: block; outline: 0px none; padding: 2px; margin-left: -1px; }
#gAC { position: relative; }
#gAC .ui-autocomplete { cursor: default; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(170, 170, 170) ! important; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); border-radius: 3px 0px 3px 3px; width: 400px; z-index: 9999; opacity: 0; visibility: hidden; transition: visibility 0s linear 0.1s, opacity 0.1s linear 0s; }
#gh-bt { position: fixed; width: 32px; height: 33px; right: -50px; bottom: 60px; overflow: hidden; z-index: 9; border: 1px solid rgb(221, 221, 221); border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
#gh-bti { position: absolute; clip: rect(0px, 33px, 36px, 0px); top: -1px; left: -1px; }
#gh-bt:hover #gh-bti { clip: rect(38px, 33px, 76px, 0px); top: -40px; }
/* ::::: http://ir.ebaystatic.com/rs/v/vev1fwe3fq5abdvq2ic4vdzbqu5.css ::::: */

audio:not([controls]) { display: none; height: 0px; }
html { font-family: "sans-serif"; }
body { margin: 0px; }
a:active, a:hover { outline: 0px none; }
h1 { margin: 0.67em 0px; font-size: 2em; }
b, strong { font-weight: bold; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { margin: 0px; font-family: inherit; font-size: 100%; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { padding: 0px; box-sizing: border-box; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0px; }
html > body { font-family: "Helvetica neue",Helvetica,Arial,"sans-serif"; font-size: 14px; color: rgb(51, 51, 51); background: url('imgbg.jpg') repeat scroll 0px 0px rgb(248, 248, 248); }
h1 { font-size: 2em; line-height: 1.95em; }
h2 { font-size: 1.714em; }
h3 { font-size: 1.429em; font-weight: 500; }
h4 { font-size: 1.143em; font-weight: 600; }
a, a:focus, a:hover, a:visited { color: rgb(6, 84, 186); text-decoration: none; }
a:visited { color: rgb(106, 41, 185); }
a:focus, a:hover { text-decoration: underline; }
.clearfix {  }
.clearfix::before, .clearfix::after { display: table; content: " "; }
.clearfix::after { clear: both; }
.left { float: left; }
.right { float: right; }
.center { margin-left: auto; margin-right: auto; }
.clear { clear: both; }
.float-row::before, .float-row::after { display: table; content: " "; }
.float-row::after { clear: both; }
.float-row::before, .float-row::after { display: table; content: " "; }
.float-row::after { clear: both; }
.relative { position: relative; }
.full-width { width: 100%; }
.space-zero { margin: 0px; }
.pad-bottom { padding-bottom: 10px; }
.small { font-size: 0.86em; }
.btn, .btn-prim, .btn-green, .dropdown > button, .dropdown-prim > button, .dropdown > a, .dropdown-prim > a, .dropdown-no-split > a, .dropdown-no-split > button { display: inline-block; padding: 10px 20px; background-repeat: no-repeat; text-align: center; font-size: 14px; font-weight: bold; color: rgb(6, 84, 186); text-decoration: none; background-color: rgb(254, 254, 254); background-image: linear-gradient(to top, rgb(250, 250, 250), rgb(254, 254, 254)); box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1); border-radius: 2px; }
.btn:visited, .btn-prim:visited, .btn-green:visited, .dropdown > button:visited, .dropdown-prim > button:visited, .dropdown > a:visited, .dropdown-prim > a:visited, .dropdown-no-split > a:visited, .dropdown-no-split > button:visited { color: rgb(6, 84, 186); text-decoration: none; }
.btn, .dropdown > a, .dropdown > button, .dropdown-no-split > a, .dropdown-no-split > button { border: 1px solid rgb(221, 221, 221); }
.btn.small, .btn-prim.small, .btn-green.small, .dropdown.small > button:first-child, .dropdown-prim.small > button:first-child, .dropdown.small > a:first-child, .dropdown-prim.small > a:first-child, .dropdown-no-split.small > a, .dropdown-no-split.small > button { padding: 7px 15px; font-size: 12px; }
.no-touch .btn:hover, .no-touch .btn-prim:hover, .no-touch .btn-green:hover, .no-touch .dropdown > button:hover, .no-touch .dropdown-prim > button:hover, .no-touch .dropdown > a:hover, .no-touch .dropdown-prim > a:hover, .no-touch .dropdown-no-split > a:hover, .no-touch .dropdown-no-split > button:hover { text-decoration: none; background-position: 0px -45px; box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.06); }
.no-touch .btn-prim:hover, .no-touch .btn-green:hover, .no-touch .dropdown-prim > button:hover, .no-touch .dropdown-prim > a:hover, .no-touch .dropdown-no-split > a:hover, .no-touch .dropdown-no-split > button:hover { transition: background-position 0.09s linear 0s; }
.no-touch .btn:hover, .no-touch .dropdown > a:hover, .no-touch .dropdown > button:hover, .no-touch .dropdown-no-split > a:hover, .no-touch .dropdown-no-split > button:hover { border: 1px solid rgb(170, 170, 170); }
.btn-prim, .dropdown-prim > a, .dropdown-prim > button { border: 0px none; color: rgb(255, 255, 255); text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.17); background-color: rgb(0, 80, 157); background-image: linear-gradient(to top, rgb(0, 80, 157), rgb(0, 122, 189)); box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.06); }
.btn-prim:visited, .dropdown-prim > a:visited, .dropdown-prim > button:visited { color: rgb(255, 255, 255); text-decoration: none; }
.no-touch .btn-prim:hover, .no-touch .dropdown-prim > a:hover, .no-touch .dropdown-prim > button:hover { border: 0px none; background-color: rgb(0, 80, 157); color: rgb(255, 255, 255); }
.dropdown, .dropdown-prim, .dropdown-no-split { position: relative; z-index: 0; display: inline-block; }
.dropdown > a, .dropdown-prim > a, .dropdown-no-split > a, .dropdown > button, .dropdown-prim > button, .dropdown-no-split > button { position: relative; z-index: 1; padding: 10px 15px; margin: 0px; border-radius: 0px 2px 2px 0px; box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1); vertical-align: top; }
.dropdown > a + a::before, .dropdown-prim > a + a::before, .dropdown-no-split > a + a::before, .dropdown > button + a::before, .dropdown-prim > button + a::before, .dropdown-no-split > button + a::before, .dropdown > a + button::before, .dropdown-prim > a + button::before, .dropdown-no-split > a + button::before, .dropdown > button + button::before, .dropdown-prim > button + button::before, .dropdown-no-split > button + button::before { content: ""; position: relative; top: -3px; display: inline-block; background-image: url('skin_sprite4'); margin: 0px; padding: 0px; height: 4px; width: 8px; background-position: -251px -174px; }
.dropdown > a:first-child, .dropdown-prim > a:first-child, .dropdown-no-split > a:first-child, .dropdown > button:first-child, .dropdown-prim > button:first-child, .dropdown-no-split > button:first-child { padding-left: 20px; padding-right: 20px; border-radius: 2px 0px 0px 2px; border-right: 0px none; }
.dropdown-prim > a + a::before, .dropdown-prim > button + a::before, .dropdown-prim > a + button::before, .dropdown-prim > button + button::before { background-position: -293px -198px; }
.dropdown-no-split > button::after, .dropdown-no-split > a::after { content: ""; position: relative; top: -3px; display: inline-block; background-image: url('skin_sprite4'); margin: 0px 0px 0px 20px; padding: 0px; height: 4px; width: 8px; background-position: -251px -174px; }
.dropdown-no-split.dropdown-prim > button::after, .dropdown-no-split.dropdown-prim > a::after { background-position: -293px -198px; }
.no-touch .dropdown > a:first-child:hover, .no-touch .dropdown-prim > a:first-child:hover, .no-touch .dropdown-no-split > a:first-child:hover, .no-touch .dropdown > button:first-child:hover, .no-touch .dropdown-prim > button:first-child:hover, .no-touch .dropdown-no-split > button:first-child:hover { border-right: 0px none; }
.no-touch .dropdown > a:hover, .no-touch .dropdown-prim > a:hover, .no-touch .dropdown-no-split > a:hover, .no-touch .dropdown > button:hover, .no-touch .dropdown-prim > button:hover, .no-touch .dropdown-no-split > button:hover { box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1); }
#Body { margin: 0px auto; padding: 0px 15px; min-width: 950px; }
#Top, #TopPanel { z-index: auto ! important; }
#Left { float: left; width: 205px; }
#Right { float: right; width: 160px; display: none; }
#Center { margin: 0px 0px 0px 220px; }
#Center.rr_present { margin-right: 175px; }
#Bottom { margin: 0px auto; }
.sz1200 #Right { display: block; }
#RightPanelContainer { clear: right; }
#gh { padding-bottom: 0px; }
.wnd-c { z-index: 7; }
.dropdown { display: inline; position: relative; list-style: outside none none; }
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-menu .active > a, .dropdown-menu .active > a:hover, .dropdown-menu .active > a:focus { color: rgb(6, 84, 186); text-decoration: none; background-color: rgb(238, 238, 238); }
ul, ol { margin: 0px 1.5em 1.5em 0px; padding-left: 1.5em; }
.dropdownmenu .dropdown a { border-right: 1px solid rgb(221, 221, 221); border-radius: 2px; }
.no-touch .dropdownmenu .dropdown:hover a { border-right: 1px solid rgb(170, 170, 170); }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 156px; padding: 5px 0px; margin: -1px 0px 0px; list-style: outside none none; border-radius: 3px; background-clip: padding-box; }
.dropdown-menu li { padding: 0px 5px; }
.dropdownmenu .dropdown-menu { border-radius: 2px; }
.dropdown-menu li a { text-align: right; padding: 11px 8px; font-size: 12px; }
.dropdownmenu li.dropdown:hover, .dropdownmenu li.dropdown a.btn:hover { box-shadow: none; }
.dropdownmenu .sel { position: relative; z-index: 1002; }
.dropdownmenu .lyr.dropdown-menu:hover { z-index: 1003; }
.l-shad { position: relative; border: 1px solid rgb(221, 221, 221); background: none repeat scroll 0% 0% white; }
.lftd, .expWpr div.wpr { border-radius: 3px; }
.l-shad:hover { border: 1px solid rgb(170, 170, 170); }
.c-std, .c-std-bb { border: 1px solid rgb(221, 221, 221); border-radius: 3px; background-color: white; box-shadow: 4px 4px 1px rgb(238, 238, 238); padding: 17px 20px 9px; margin-bottom: 20px; }
.caret-dn, .btn-ter .caret-dn { display: inline-block; width: 0px; height: 0px; vertical-align: top; border-top: 4px solid rgb(6, 84, 186); border-right: 4px solid transparent; border-left: 4px solid transparent; content: ""; opacity: 0.8; }
.btn-s .caret-dn { margin-top: 5px; margin-left: 10px; }
input, select { vertical-align: middle; }
.c-std { padding: 0px; }
.cbrt .btn, .cbrt .dropdown > a, .cbrt .dropdown > button, .cbrt .dropdown-no-split > a, .cbrt .dropdown-no-split > button { border: 1px solid rgb(204, 204, 204); }
a.btn.vas { padding: 6px 10px; }
.btn.small, .small[class*="btn-"], .dropdown.small > a:first-child, .dropdown.small > button:first-child, .small[class*="dropdown-"] > a:first-child, .small[class*="dropdown-"] > button:first-child { padding: 7px 10px; }
#gh { min-width: 0px ! important; }
#gAC .ui-autocomplete { min-width: 300px; }
body { font-size: 13px ! important; height: 100%; padding: 0px; }
li ul, li ol { margin: 0px; }
#Body, #Bottom { max-width: 1200px; }
#Left, #CenterPanel { margin-left: 0px; }
#CenterPanelInner { margin: 18px; }
#ListViewInner, #GalleryViewInner, .sresults { clear: both; margin: 0px; padding: 0px; }
.rsw ul { list-style: outside none none; }
.lvresult { position: relative; padding: 9px 0px; margin: 0px; left: 0px; border-width: 1px 0px; border-style: solid; border-color: transparent transparent rgb(228, 228, 228); color: rgb(119, 119, 119); }
.lvpic { width: 33%; max-width: 225px; max-height: 225px; margin: 0px 2% 3px 0px; }
.lvpicinner, .lvpicinner:hover { border-radius: 3px; border: 1px solid rgb(228, 228, 228); }
.lvpicinner:hover { border: 1px solid rgb(170, 170, 170); }
.lvtitle, .lvsubtitle { word-wrap: break-word; padding: 0px; width: auto; overflow: hidden; font-weight: normal; }
h3.lvtitle { margin: 0px; font-size: 16px; line-height: 1.25; position: relative; top: -2px; }
.lvsubtitle { margin-top: 3px; font-size: 13px; line-height: 15px; }
.lvpic .img { margin: auto; width: auto; max-width: 100%; height: auto; max-height: 225px; display: block; text-align: center; }
.lvprices, .lvpdetails { width: 23%; padding: 1% 1% 0px 0px; }
.lvprice { font-size: 20px; color: rgb(51, 51, 51); }
.lvformat { padding: 3px 0px 4px; }
.lvshipping { font-size: 13px; }
.lvshipping, .lvprice { padding: 3px 0px; }
.lvextras { padding: 12px 0px 0px; }
.hdnAcc { position: absolute; left: -9999em; }
.nojs { position: absolute; z-index: 99999; }
.wnd-a { position: absolute; display: none; background-image: url('sproverlaypointers.png'); }
.wnd { position: fixed; visibility: hidden; z-index: 6; top: -1000px; left: -1000px; }
.wnd { font-family: Helvetica,Tahoma,Verdana,sans-serif; font-size: 13px; }
.wnd-f { position: relative; background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); }
.wnd-s { position: absolute; z-index: -1; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgb(0, 0, 0); box-shadow: 3px 5px 3px rgb(204, 204, 204); }
.wnd-h { position: relative; padding: 10px 20px 5px 15px; }
.wnd-t { position: relative; color: rgb(93, 93, 93); font-family: Trebuchet MS; font-size: 18px; overflow: hidden; white-space: nowrap; }
.wnd-c { position: absolute; display: block; width: 10px; height: 11px; top: 5px; right: 5px; padding: 5px; cursor: pointer; }
.wnd-c { background: url('iconclose.png') no-repeat scroll center center transparent; }
.wnd-b { position: relative; overflow: hidden; padding: 5px; }
.rtm-mb15px { margin-bottom: 15px; }
.rtm-mt15px { margin-top: 15px; }
.ptArr b, .sArr b { background: url('undefined') no-repeat scroll 0px 0px transparent; width: 12px; height: 12px; display: block; }
.ttLyr { z-index: 1001; max-width: 340px; box-shadow: 2px 4px 4px rgba(51, 65, 80, 0.35); position: absolute; left: -9999px; border: 1px solid rgb(204, 204, 204); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#ttContent { padding: 15px; }
#ttArr.sArr { position: absolute; top: -9px; right: 20px; }
#ttArr.sArr b.BOTTOM { background-position: 0px -12px; }
.srpArwExpandCollapse2 { background-image: url('srparwexpandcollapse2.png'); background-repeat: no-repeat; }
.sprIconStatusMsg { background-image: url('spriconstatusmsg.gif'); background-repeat: no-repeat; }
.idesc { display: none; }
#gh-cat { padding-bottom: 0px; padding-top: 0px; }
.rldsrch { margin: 5px 180px 10px 220px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 3px; font: 11px/1.5 Arial,Verdana,sans-serif; }
.asp.pnl { margin: 0px 0px 5px 4px; }
.asp .pnl { position: relative; overflow: hidden; }
.asp .pnl .pnl-h { border: 0px none; padding: 2px 0px; background-color: transparent; text-align: left; }
.cat.rlp .cat-link { padding: 2px 0px 5px; }
.rlp-h h3, .asp .pnl-h h3, .asp .pnl-h h4 { margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-size: 13px; font-weight: bold; line-height: 16px; display: inline; cursor: pointer; }
.asp .pnl-h .hdn { font-size: 0px; height: 0px; line-height: 0; outline: medium none; overflow: hidden; position: absolute; width: 0px; z-index: -1; }
.asp .pnl-h a.seeall { margin: 2px 5px 0px; color: rgb(153, 153, 153); font-size: 13px; white-space: nowrap; }
.asp .pnl-b { padding-left: 1px; overflow: hidden; }
.asp .refine { position: relative; padding: 5px 0px 10px; color: rgb(51, 51, 51); font-weight: bold; font-size: 13px; border-bottom: 1px solid rgb(204, 204, 204); }
.asp .refine a { color: rgb(51, 51, 51); text-decoration: none; cursor: pointer; }
.asp .refine a:hover { color: rgb(6, 84, 186); }
.asp .frmt { overflow: visible; margin: 0px ! important; border-bottom: 0px none ! important; }
.frmt .tab, .frmt span.sel, .frmt a.sel { margin-left: -5px; }
.frmt span.sel, .frmt a.sel { overflow: hidden; display: inline-block; text-align: center; border-radius: 3px; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; font-size: 12px; padding: 7px 10px; white-space: nowrap; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(187, 187, 187); cursor: default; vertical-align: top; background: linear-gradient(to top, rgb(230, 230, 230) 0px, rgb(242, 242, 242) 100%) repeat scroll 0% 0% transparent; }
.frmt span.disabled, .frmt a.disabled { background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; color: rgb(192, 192, 192); }
input.rbx[type="radio"], div.rbx span.rbx, input.cbx[type="checkbox"], div.cbx span.cbx { cursor: pointer; }
.asp .pnl .pnl-h .pnl-h { display: table-cell; width: 90%; }
.asp .pnl-h a.seeall, .asp .pnl-h a.more { float: none; display: table-cell; width: 10%; }
input.submit { cursor: pointer; width: 20px; height: 20px; border: 0px none; }
div.cbx { position: relative; margin: 3px 0px 0px 17px; padding: 0px 2px; text-indent: -23px; }
div.cbx a.cbx:hover { color: rgb(6, 84, 186); cursor: pointer; }
div.cbx span.cbx { position: relative; top: 2px; }
input.cbx[type="checkbox"] { margin: 0px 3px 0px 4px; }
div.rbx { position: relative; margin: 3px 0px 0px 20px; padding: 0px 2px; text-indent: -23px; }
div.rbx a.rbx:hover { color: rgb(6, 84, 186); cursor: pointer; }
div.rbx span.rbx { position: relative; top: 2px; }
input.rbx[type="radio"] { margin: 0px 3px 0px 5px; }
.default { vertical-align: top; }
.wnd-s { box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); }
#ResultSetItems a:hover, a:hover, .rldsrch .rls a:hover, .asp .refine a:hover, .cat .cat-l a.cat-l-a:hover { text-decoration: underline; }
div.cbx a.cbx, div.rbx a.rbx { position: relative; margin: 0px; color: rgb(51, 51, 51); text-decoration: none; cursor: pointer; }
div.pnl-b .aspdis { color: rgb(128, 128, 128); cursor: default ! important; }
.pnl .pnl-b a:hover + a, .pnl .pnl-b span:not(.disabled) + a, .pnl .pnl-b span + span.disabled, .pnl .pnl-b a:hover + span.disabled { border-left-color: rgb(170, 170, 170); }
.pnl .pnl-b span { border-color: rgb(170, 170, 170); }
.pnl .pnl-b span.disabled { border-color: rgb(204, 204, 204); }
#cbelm.cb { height: 100%; }
.cbrt { font-size: 13px; }
.asp .pnl, .cat, .cat .cat-b { border: 0px none; margin-bottom: 15px; }
.cat h3 { cursor: default; }
.asp .pnl-h h3, .cat .cat-h #Category, div.rlp-h h3 { font-size: 14px; }
input[type="text"], input[type="password"], select, textarea { padding: 3px; }
.refine a { font-size: 14px; }
#rtm_html_185, #rtm_html_964, #rtm_html_569, #rtm_html_701 { margin: 0px auto 20px ! important; }
#rtm_html_984 { clear: left; }
.lvdetails { width: 40%; font-size: 13px; padding: 1% 0px 10px 1%; }
.lvdetails > li { padding: 5px; line-height: 1.4; text-align: left; }
#Foot { clear: both; padding-top: 10px; }
#vFoot { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-top: 1px solid rgb(204, 204, 204); padding: 40px 30px; }
#glbfooter { border: 0px none; margin: 0px; padding: 0px; line-height: 1.5; }
.dedupe { margin-top: 20px; }
.prh { padding-bottom: 5px; }
.ftnt, .currencyNote { margin: 10px 0px; }
.idesc { display: block; position: absolute; right: 52px; top: 90px; color: rgb(51, 51, 51) ! important; font-size: 11px; }
.hotness-signal.red { color: rgb(221, 30, 49); }
.hotness-signal { padding-bottom: 7px; }
.li span.bfsp { color: rgb(51, 51, 51) ! important; font-style: normal; font-weight: bold; white-space: normal; font-size: 13px; }
.gvbfree { font-size: 12px; font-weight: bold ! important; color: rgb(51, 51, 51) ! important; }
.l-shad { overflow: hidden; }
#Right, #RightPanel, #CenterWrapper, #Center, #Left, #RelatedSearchesContainer { transition-duration: 0.2s; transition-timing-function: ease; transition-delay: 0s; transition-property: transform, width, margin, opacity, visibility; }
@media only screen and (max-width: 9999px) {
	html, body { overflow-x: hidden; }
	body { overflow-y: hidden; }
	#Body { min-width: 300px; }
}
@media only screen and (max-width: 1420px) {
}
@media only screen and (max-width: 1200px) {
	#Right { width: 0px; height: 0px; }
	.sz1200 #Right { visibility: hidden; }
	#RightPanel { visibility: hidden; opacity: 0; }
	#Center, #Center.rr_present { margin-right: 0px; }
}
@media only screen and (max-width: 1000px) {
	#RelatedSearchesContainer { margin-right: 0px; }
	.idesc { display: none ! important; }
	.lvpic { width: 42.5%; }
	.lvdetails { width: 30%; }
}
@media only screen and (max-width: 940px) {
	.answers, .cbrt .dropdownmenu .dropdown-lbl { display: none; }
}
@media only screen and (max-width: 800px) {
	#CenterPanelInner { margin: 15px; }
	#gh-cat { width: 120px; }
	a.mi-a { display: none ! important; }
	.cmpat { display: none; }
	h3.lvtitle { font-size: 15px; }
	.lvprice { font-size: 18px; }
	.lvpic { width: 36.5%; margin-right: 2.5%; }
	.lvpic .img { max-height: 180px; }
	.lvprices { width: 27%; }
	.lvdetails { width: 31%; }
	.lvdetails > li { display: none; }
	.dropdownmenu .sel { max-width: 150px; }
}
@media only screen and (max-width: 767px) {
	#Body { padding: 0px; }
	#Top { padding: 0px 12px; }
	#Center, #Center.rr_present, #RelatedSearchesContainer { margin-left: 0px; }
	.cb #leftNavTog { display: block; }
	#Left { margin-left: -220px; visibility: hidden; }
	.lvpic { width: 27.5%; }
	.lvdetails { width: 37%; }
	.lvprices { width: 31%; }
	.lvdetails > li { display: list-item; }
}
@media only screen and (max-width: 600px) {
	.lvextras, .asp.pnl, .medprc { display: none; }
	.dropdownmenu .sel { max-width: 165px; }
	h3.lvtitle { font-size: 14px; margin: 0px; }
	.lvresult { font-weight: normal; }
	.lvdetails, .lvformat, .lvshipping { font-size: 12px; }
	.lvprice { font-size: 15px; }
	.lvpic .img { max-height: 175px; }
	.lvprices { width: 29%; }
	.lvdetails { width: 39%; }
	.lvdetails > li { display: none; }
}
@media only screen and (max-width: 550px) {
}
@media only screen and (max-width: 480px) {
	#CenterPanelInner { margin: 10px; }
	#gAC .ui-autocomplete { min-width: 210px; }
	h3.lvtitle { font-size: 12px; }
	.lvresult { font-weight: normal; }
	.lvdetails, .lvformat, .lvshipping { font-size: 11px; }
	.lvprice { font-size: 13px; }
	.lvshipping, .lvprice, .lvformat { padding: 2px 0px; }
	.lvpic { width: 27%; margin-right: 3%; }
	.lvpic .picW { min-height: 40px; }
	.lvpic .img { max-height: 135px; }
	.lvprices { width: 31%; }
	.lvdetails { width: 37%; }
	.photoCnt, .lvtitle .newly, .lvsubtitle, .hr, .divider, .epli, .hotmsg, .clt span.kwcat, #leftNavTog .lbl { display: none; }
	.lvdetails { font-size: 11px; }
	.followIcn, span.svsearch { margin-left: 10px ! important; }
	span.fTxt { font-size: 12px ! important; }
	.cb .clt .rcnt { font-weight: normal; }
	.clt .rcnt::after { content: " results"; }
}
@media only screen and (max-width: 320px) {
	h3.lvtitle { font-size: 11px; }
	.lvprice { font-size: 12px; }
	.lvpic .img { max-height: 75px; }
}
/* ::::: http://ir.ebaystatic.com/rs/v/vidxky5jxq4rngo353trc0fdsif.css ::::: */

.asp-e .sprIconStatusMsg { background-image: url('l2cuicjshi3o1olhsylpqttzpyo.png'); background-repeat: no-repeat; display: inline-block; vertical-align: middle; margin-right: 3px; }
.asp-price #imgerr.sprIconStatusMsg { background-position: -60px -35px; width: 17px; height: 17px; }
input.submit.sprBtnSRP1, .asp .date input.submit { background: url('l2cuicjshi3o1olhsylpqttzpyo.png') no-repeat scroll 0px -34px transparent; }
.iconETRS2, .iconTrp { background-image: url('l2cuicjshi3o1olhsylpqttzpyo.png'); background-position: 0px -156px; background-color: transparent; background-repeat: no-repeat; height: 18px; width: 64px; }
.wnd-c { background: url('l2cuicjshi3o1olhsylpqttzpyo.png') no-repeat scroll -76px 5px transparent; }
.wnd-a { position: absolute; display: none; background-image: url('l2cuicjshi3o1olhsylpqttzpyo.png') ! important; background-color: transparent; background-repeat: no-repeat; top: 10px; }
#rtm_html_566, #rtm_html_567 { height: 615px; }
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 940px) {
}
/* ::::: http://ir.ebaystatic.com/rs/v/qqopvajxay0bnfmkqzunms2vviz ::::: */

.nume-vr140 .l-shad { position: relative; float: left; border: 1px solid rgb(221, 221, 221); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.nume-vr140 .l-shad:hover { border: 1px solid rgb(170, 170, 170); cursor: pointer; color: rgb(0, 114, 173); }
.nume-vr140 .l-shad::before { content: ""; position: absolute; z-index: -2; }
.nume-vr140 .lftd { border-radius: 3px; }
.nume-vr140 .lftd::before { bottom: 15px; left: 5px; width: 40%; height: 10%; box-shadow: 0px 15px 6px rgba(0, 0, 0, 0.3); transform: rotate(-4deg); }
.nume-vr140 .imgt { background-color: white; display: table-cell; cursor: pointer; text-align: center; vertical-align: middle; border-radius: 3px; }
.nume-vr140 .imgt * { vertical-align: middle; text-align: center; }
.nume-vr140 .imgt img { border: 0px none; max-width: 140px; max-height: 140px; }
.nume-vr140 span { border-spacing: 0px; }
.nume-vr140 .i140 > span { display: block; }
.nume-vr140 .i140, .nume-vr140 .i140 .imgt { width: 140px; height: 140px; }
.nume-vr140 { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ! important; }
.nume-vr140 .clear {  }
.nume-vr140 .clear::before, .nume-vr140 .clear::after { content: " "; display: table; }
.nume-vr140 .clear::after { clear: both; }
.nume-vr140 h3 { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ! important; font-weight: normal; font-size: 18px; margin-top: 20px; margin-bottom: 8px; }
.nume-vr140.column h3 { padding-bottom: 10px; border-bottom: 1px solid rgb(221, 221, 221); }
.nume-vr140 .container { padding: 0px 30px; min-width: 160px; }
.nume-vr140 .column { position: relative; float: left; }
.nume-vr140 .center { width: 100%; min-width: 154px; padding: 0px; margin: 0px; overflow: hidden; }
#nume_html_100034 .center, #nume_html_100281 .center { margin-left: -27px; }
#nume_html_100034 h3, #nume_html_100281 h3 { margin-top: 0px; }
.nume-vr140 .recos { width: 1500px; margin: 0px; padding: 0px; list-style: outside none none; display: block; }
.nume-vr140 .recos li { width: 154px; padding: 5px; margin: 0px 10px 5px; display: block; float: left; border: 1px solid transparent; position: relative; box-sizing: border-box; visibility: hidden; }
.nume-vr140.column .recos { float: none; margin: 0px auto 5px; }
.nume-vr140 .recos li:hover { background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 3px; box-shadow: 4px 4px 1px rgb(238, 238, 238); }
.nume-vr140 a { color: rgb(6, 84, 186); text-decoration: none; }
.nume-vr140 a .name:visited { color: rgb(106, 41, 185); text-decoration: none; }
.nume-vr140 a .name:focus, .nume-vr140 a .name:hover { color: rgb(6, 84, 186) ! important; text-decoration: underline; }
.nume-vr140 .sms { font-size: 12px; margin: 4px 0px 7px; display: block; text-align: center; visibility: hidden; }
.nume-vr140 .name { margin: 160px 0px 5px; font-size: 12px; line-height: 18px; display: block; height: 36px; overflow: hidden; }
.nume-vr140 .price { margin: 0px 0px 7px; font-size: 16px; height: 1.15em; font-weight: bold; display: block; width: 145px; }
.nume-vr140 .binbid { margin: 0px 0px 5px; color: rgb(102, 102, 102); font-family: Verdana,sans-serif ! important; font-size: 10px; line-height: 10px; display: block; }
.nume-vr140 .freeship { margin: 0px 0px 5px; color: rgb(51, 51, 51); font-family: Verdana,sans-serif ! important; font-size: 10px; line-height: 10px; display: block; }
.nume-vr140 .btn-ter:hover, a.btn-ter:hover, .nume-vr140 .btn-ter:focus, .nume-vr140 a.btn-ter:focus, .nume-vr140 .btn-ter:active, .nume-vr140 a.btn-ter:active { color: rgb(6, 84, 186); border: 1px solid rgb(170, 170, 170); background: none repeat scroll 0% 0% rgb(250, 250, 250); }
/* ::::: http://ir.ebaystatic.com/rs/v/esyx2l4xa20ztdkcmp4b03p15m1.css ::::: */

.lnav { margin-bottom: 20px; }
.cat.rlp .rlp-b { border-bottom: 1px dashed rgb(204, 204, 204); margin-bottom: 5px; padding: 4px 0px 13px; width: 190px; }
.cat.rlp .catsgroup { margin-bottom: 5px; font-weight: bold; line-height: 1.1em; clear: both; }
.cat.rlp .cat-t { font-size: 0.923em; font-weight: bold; padding: 2px 0px 7px; }
.cat.rlp .cat-c { padding-left: 5px; }
.cat.rlp .cat-link a { font-weight: normal; font-size: 0.923em; }
.asp-price { font-size: 11px; padding-top: 7px; }
.asp-price input.price { width: 40px; }
table#see-all-dialog div.asf-t, div.asp-e { display: none; }
table#see-all-dialog div.selected::after, table#see-all-dialog div.selected::before { left: 100%; top: 60%; border: medium solid transparent; content: " "; height: 0px; width: 0px; position: absolute; pointer-events: none; }
table#see-all-dialog div.selected::after { border-left-color: rgb(153, 153, 153); border-width: 13px; margin-top: -15px; }
.asp-price { font-size: 11px; padding-top: 7px; }
.asp-price input.price { width: 40px; }
.asp-e { color: rgb(255, 0, 0); font: x-small verdana; margin: 2px 6px; padding: 2px 0px 4px 23px; position: relative; }
.asp-e #imgerr { background-position: -23px 0px; height: 16px; left: 0px; position: absolute; top: 0px; width: 20px; }
.asp-price .g-hdn { font-size: 1em; height: 1px; width: 1px; overflow: hidden; position: absolute; left: -9999px; top: auto; }
.collectionsLData { height: 0px; width: 0px; position: absolute; left: -10000px; }
.li { width: 100%; border-collapse: collapse; }
.li .bids div.cmpat, div.cmpat, span.cmpat { color: rgb(119, 119, 119); font-size: 13px; padding: 5px 0px 0px; }
.li .prc .stk-thr { text-decoration: line-through; }
.hr { border-bottom: 1px solid rgb(204, 204, 204); font-size: 0px; height: 1px; margin: 2px 0px; }
.li .etrsWpr, .li .bslWpr img { display: inline-block; margin: 0px 7px 0px 0px; }
#cbelm.cb { border-bottom: 1px solid rgb(204, 204, 204); width: 100%; }
.cb .clt { float: left; clear: left; padding: 6px 0px 4px; line-height: 16px; }
.cb .cbl, .disloc .ship { display: inline-block; vertical-align: top; }
.cb .rcnt, .cb .active { font-weight: bold; display: inline-block; line-height: 15px; }
.cb .cbl { position: relative; min-height: 12px; vertical-align: bottom; }
.cb .cbl a { display: block; white-space: nowrap; }
.cbl .lyr, .pTour { position: absolute; z-index: 1001; border: 1px solid rgb(204, 204, 204); background: none repeat scroll 0% 0% rgb(255, 255, 255); visibility: hidden; top: -1px; border-radius: 5px; padding: 5px 5px 0px; left: -100px; }
.cbl .lyr .cvr { position: absolute; right: -6px; top: 6px; background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 5px; height: 20px; }
#shiptoZip { padding: 6px 0px 2px; clear: right; }
.sbdd { margin-left: 10px; }
.txtRt { text-align: right; }
.txtRt span { margin-right: 6px; }
.pic a.enl { position: absolute; background: url('undefined') no-repeat scroll 0px 0px transparent; height: 24px; width: 27px; bottom: 0px; right: -3px; padding: 0px; cursor: pointer; }
.pic a:hover { background-position: 0px -24px; }
.prc .g-b { font-weight: bold; }
.vLIST, .vGRID, .vCUST, .dArr { background: url('undefined') no-repeat scroll 100% 0px transparent; display: inline-block; width: 14px; height: 14px; }
.vGRID { background: url('undefined') no-repeat scroll 100% 0px transparent; }
.vCUST { background: url('undefined') no-repeat scroll 100% 0px transparent; }
a .vLIST, a .vGRID, a .vCUST { background-position: 0px -14px; }
.vLIST, .vGRID, .vCUST { background-position: 0px -14px; }
.picW { position: relative; min-height: 90px; }
.rtmCss { margin: 20px 0px; }
#DashLeftPanel { margin-top: 10px; }
span.cnt { font-size: 10px; font-weight: normal; margin-left: 4px; color: rgb(102, 102, 102); vertical-align: middle; }
img { border: 0px none; }
.rct { border: 0px none; }
.cbl .lyr { padding: 5px 0px; border-radius: 2px; }
.lyr.vas { padding: 5px 0px; }
.dropdown-menu { display: block; float: none; min-width: 48px; }
.dropdownmenu .sel { display: inline-block; margin: 0px; padding: 0px; }
.dropdown-menu a { color: rgb(85, 85, 85); }
.dropdownmenu .dropdown-lbl { color: rgb(102, 102, 102); display: inline-block; margin-top: 7px; vertical-align: top; height: 15px; font-size: 13px; }
.dropdownmenu.sbdd { position: relative; z-index: 2; }
.vLIST {  }
a:hover .vLIST, a .vLIST.vHvr { background-position: 0px -15px; }
a .vLIST, .vLIST { background-position: 0px -1px; }
.vGRID { background: url('undefined') no-repeat scroll 100% 0px transparent; }
.vCUST { background: url('undefined') no-repeat scroll 100% 0px transparent; }
a .vGRID, a .vCUST, .vGRID, .vCUST { background-position: 0px 0px; }
.vLIST, .vGRID, .vCUST { width: 12px; height: 12px; }
b.vLIST, b.vGRID, b.vCUST { margin-right: 13px; }
a:hover .vGRID, a:hover .vCUST, a .vGRID.vHvr, a .vCUST.vHvr { background-position: 0px -12px; }
.cbl.dropdownmenu { z-index: 1; max-height: 31px; }
span.kwcat { display: inline-block; font-weight: normal; line-height: 15px; }
span.kwcat b { display: inline-block; margin: 0px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 138px; font-weight: bold; font-size: 13px; line-height: 15px; vertical-align: bottom; }
a.btn.btn-ter { max-width: 178px; overflow: hidden; text-overflow: ellipsis; }
.saveSearch { display: inline-block; margin-right: 10px; }
.rsHdr { display: inline; margin: 0px; font-size: 1em; font-family: arial,helvetica,san-serif; line-height: 1.3em; }
.frmt .center_b { border-radius: 0px ! important; }
.frmt .first_b { border-radius: 3px 0px 0px 3px ! important; }
.frmt .last_b { border-radius: 0px 3px 3px 0px ! important; }
.frmt .tgl_button { box-shadow: none ! important; font-weight: bold ! important; text-shadow: none ! important; }
.frmt_head { display: none; }
#leftNavTog { float: left; color: rgb(255, 255, 255); border: 0px none; border-radius: 3px; margin: 0px 13px 5px 0px; padding: 8px 10px; display: none; text-decoration: none; }
#leftNavTog .lbl { font-weight: bold; margin-left: 7px; }
.hamlines { top: -3px; position: relative; }
.hamlines, .hamlines::before, .hamlines::after { display: inline-block; width: 12px; height: 3px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.hamlines::before, .hamlines::after { position: absolute; left: 0px; content: ""; }
.hamlines::before { top: 4px; }
.hamlines::after { top: -4px; }
p.dContent { width: 280px; padding: 5px; line-height: 16px; margin: 0px 0px 1em; }
span.follow { color: rgb(71, 147, 19) ! important; }
p.dContent a { cursor: pointer; text-decoration: none; }
.clt a { text-decoration: none; }
.clt a span.followIcn { background: url('undefined') no-repeat scroll 0px 0px transparent; }
.clt a span.baseIcn { color: rgb(0, 50, 177); cursor: pointer; display: inline-block; height: 14px; line-height: 17px; font-size: 13px; margin-left: 12px; padding: 0px 5px 0px 10px; vertical-align: top; border: 1px solid rgb(192, 192, 192); border-radius: 2px; box-shadow: 1px 2px 0px 0px rgb(240, 240, 240); background-position: center top; }
.clt a span.fTxt:hover { text-decoration: underline; }
.clt a span.fTxt { color: rgb(0, 50, 177); cursor: pointer; display: inline-block; height: 14px; line-height: 17px; font-size: 13px; margin-left: 0px ! important; padding: 0px ! important; vertical-align: top; font-weight: bold; }
.topMargin { margin-top: 15px; }
.rct { border: 0px none; }
.l-noshad::before { bottom: 20px; }
.nullHeader { color: rgb(85, 85, 85); font-size: medium; font-weight: bold; padding: 10px 0px 5px; }
.topMargin { margin-top: 15px; }
.rct { border: 0px none; }
