/* ::::: http://img.adbox.sina.com.cn/static/css/base.css ::::: */

body, html { margin: 0px; padding: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); font-size: 12px; font-family: Arial,Helvetica,sans-serif; }
.ui { position: absolute; }
.fset { overflow: hidden; position: relative; float: left; }
img { border: 0px none; }
.txt { font-size: 12px; overflow: hidden; }
.txt a:link { text-decoration: none; }
.txt a:hover { text-decoration: underline; }
.wbn, .usern { font-size: 12px; height: 20px; overflow: hidden; }
.wbn a:link, .wbn a:visited, .usern a:link, .usern a:visited { text-decoration: none; }
.wbn a:hover, .usern a:hover { text-decoration: underline; }
.wbn-v { position: relative; top: 2px; width: 14px; height: 11px; background: url('wb2.png') no-repeat scroll 0px 0px transparent; }
.slider-mask { position: absolute; left: 0px; top: 0px; overflow: hidden; }
.fade-in-out { position: absolute; transition: opacity 1s ease 0s; }
.fade-in-out div { position: absolute; transition: opacity 1s ease 0s; }
.overlap-block div { position: absolute; }
.slider-b, .slider-s { float: left; font-size: 12px; text-decoration: none; }
.slider-s { border: 1px solid rgb(255, 255, 255); margin: 2px; }
.slider-t { position: absolute; }
.slider-s-h { border: 1px solid rgb(82, 175, 252); box-shadow: 0px 0px 2px 0px rgb(82, 175, 252); }
.adbox-logo { background: url('logo-bg-s.png') no-repeat scroll 0px 0px transparent; position: absolute; right: 0px; bottom: 0px; display: block; width: 24px; height: 17px; font-size: 12px; line-height: 17px; z-index: 99999; overflow: hidden; text-decoration: none; color: rgb(255, 255, 255); outline: medium none; }
.adbox-logo:hover { width: 96px; background-image: url('logo-bg-f.png'); }
#stage-obj21408349837328 a:link, #stage-obj21408349837328 a:visited { color: rgb(28, 27, 27); }
#stage-obj21353653409421 a:link, #stage-obj21353653409421 a:visited { color: rgb(51, 51, 51); }
#stage-obj21414750094859 a:link, #stage-obj21414750094859 a:visited { color: rgb(51, 51, 51); }
