html, body { padding: 0px; margin: 0px; }
body { font: 12px/1.5 "Tahoma","arial"; }
.c2014-8-142319-1415024390583-global { overflow: hidden; width: 59px; height: 90px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.c2014-8-142319-1415024390583-global a, .c2014-8-142319-1415024390583-global ul, .c2014-8-142319-1415024390583-global img { margin: 0px; padding: 0px; border: 0px none; }
.c2014-8-142319-1415024390583-global a { color: rgb(0, 0, 0); text-decoration: none; }
.c2014-8-142319-1415024390583-global a:hover { color: rgb(226, 46, 57) ! important; text-decoration: underline; }
.c2014-8-142319-1415024390583-banner { float: left; width: 49px; height: 22px; background: url('t16haefvbaxxcsli_h-50-22.gif') no-repeat scroll 0% 0% rgb(255, 68, 0); font-size: 14px; text-align: center; color: rgb(255, 255, 255); text-indent: -9999px; }
.c2014-8-142319-1415024390583-body { position: relative; overflow: hidden; width: 48px; height: 60px; float: left; top: 4px; }
.c2014-8-142319-1415024390583-body ul { position: absolute; top: 0px; left: 0px; overflow: hidden; margin: 8px 0px; list-style: outside none none; line-height: 22px; }
.c2014-8-142319-1415024390583-body li { text-align: center; width: 48px; height: 22px; overflow: hidden; }
ul:first-child { animation-duration: 33s; animation-name: slideout; animation-iteration-count: infinite; animation-timing-function: linear; }
ul:last-child { animation-duration: 33s; animation-name: slidein; animation-iteration-count: infinite; animation-timing-function: linear; }
