body{
	background:#333333 url(../image/image1.jpg);
	margin:0px;
	font: 400 16px/22px 'Bree Serif', Verdana, Helvetica, serif;
	color:#BDBDBD;
}
/*

Le secteur du bois est le second employeur industriel de Dordogne, avec nombre de scieries et de transformateurs4.

La viticulture avec les vignobles de bergerac, de monbazillac et de pécharmant est aussi une grande pourvoyeuse d'emplois et de création de richesses, et une véritable attraction touristique.

Principalement établis au sud-est du département, 200 producteurs de tabac fournissent 15 % de la production nationale5.

En 2012, le tourisme représente 21 % du PIB du département et a un potentiel encore fort à développer, notamment vers les visiteurs anglo-saxons, amateurs de gastronomie française6.

Au niveau industriel, 3 271 entreprises réparties sur tout le département emploient environ 23 800 personnes7.
Démographie
Article détaillé : Démographie de la Dordogne.

Les habitants de la Dordogne sont appelés Périgourdins ou Périgordins (par analogie entre le département actuel et l'ancienne province du Périgord qui lui correspondait)[réf. souhaitée]. Les appellations Dordognais, voire Dordognots, sont également usitées8.

Les ressortissants du Royaume-Uni sont plus de 20 000 (en 2006) à y habiter mais la plupart font attention à ne pas séjourner plus de six mois et un jour pour éviter d'être considérés résidents en France. Officiellement, le nombre de Britanniques résidant en Dordogne s'élève à 6 300 en 2006, ce qui représente un britannique sur deux vivant en Aquitaine9.
Culture
Langue


XXe siècle

    Jean-Jacques Juglas est un homme politique français, né le 10 juin 1904 à Bergerac et décédé le 17 août 1982 à Paris.
    Henri Laforest est un homme politique, né le 19 juillet 1904 à Nontron et décédé le 13 janvier 1989 au même lieu.
    Lucien Dutard (Lucien Jean Dutard) est un homme politique français, né au Buisson le 22 février 1912 et décédé le 1er juillet 2003.
    Fred Zeller (Frédéric Victor Zeller), né le 26 mars 1912 à Paris et mort le 7 février 2003 à Bergerac, est un homme politique et un artiste peintre français.
    Fernand Dupuy est un homme politique français. Il est né le 2 mars 1917 à Jumilhac-le-Grand et décédé le 15 juin 1999 à Limoges.
    Maurice Faure, né le 2 janvier 1922 à Azerat et mort le 6 mars 2014 à Cahors, est un ancien résistant et homme politique français.
    Yves Guéna, homme politique français (né à Brest le 6 juillet 1922) : engagé FFL (1940–1945) ; député de la Dordogne (1962–1981, 1986–1988 RPR) ; ministre : P&T (1967–1968), Information (1968), P&T (1968–1969), Transports (1973–1974), Industrie, Commerce et Artisanat (1974) ; conseiller général de la Dordogne (1970–1989) ; maire de Périgueux (1971–1997) ; sénateur de la Dordogne (1989–1997) ; vice-président du Sénat (1992–1997) ; membre et président du Conseil constitutionnel (1997–2004) ; président de l'Institut du monde arabe (2004–2007).
    Roland Dumas, (né le 23 août 1922 à Limoges), homme politique français ; député de Sarlat ; membre et président Conseil constitutionnel.
    Pierre Arpaillange (né à Simeyrols le 13 mars 1924) est un magistrat et ministre français.
    Roger Roudier est un homme politique français né le 13 mai 1926 à La Villedieu.
    Lucien Delmas est un homme politique français né le 19 juin 1931 à Terrasson et décédé le 5 février 1988 à Bordeaux (Gironde).
    René Dutin est un homme politique français né le 18 décembre 1933 à Abjat-sur-Bandiat.
    Alain Paul Bonnet, né à Paris le 10 janvier 1934, fils de l'ancien ministre Georges Bonnet, est un homme politique français. Il fut député de la troisième circonscription de la Dordogne de 1973 à 1993. Au plan local, il fut également : maire de Brantôme de 1965 à 1989 puis de 1995 à 2001, conseiller général du canton de Champagnac-de-Belair de 1964 à 1992 18,
    Gérard Fayolle est un homme politique français né le 11 octobre 1937 au Bugue.
    Henri Nallet, né le 6 janvier 1939 à Bergerac, est un homme politique français.
    Jean Ganiayre (en occitan Joan Ganhaire) est né le 21 mai 1941 à Agen en Lot-et-Garonne. C'est un écrivain occitan utilisant le dialecte limousin. Il est également conseiller général du canton de Brantôme.
    Christian Frémont, né en 1942 en Dordogne, est un haut fonctionnaire français. Il assure depuis le 28 juillet 2008 le poste de directeur de cabinet du président de la République Nicolas Sarkozy. Christian Frémont est également un ancien professeur de lettres, amoureux des poètes du XIXe siècle.
    Michel Debet, homme politique français, né le 12 octobre 1944 à Tocane-Saint-Apre et décédé le 6 mars 2008 à Périgueux.
    Patrick Ollier (né le 17 décembre 1944 à Périgueux est un homme politique français, président de l'Assemblée nationale du 7 mars au 19 juin 2007.
    Christian Monteil est un homme politique français, né en 1946 à Larzac. Maire de Seyssel (2024 hab., chef-lieu de canton), conseiller général depuis 1991, il est président du Conseil général de la Haute-Savoie depuis mars 2008.
    Jean-Jacques de Peretti, (né en 1946 à Clermont-Ferrand), homme politique français ; ministre de l'Outre-mer en 1995, maire de Sarlat-la-Canéda depuis 1989.
    Xavier Darcos, (né en 1947 à Limoges), homme politique français ; ministre : délégué à l’Enseignement scolaire (mai 2002–mars 2004), délégué aux Affaires étrangères (coopération, francophonie) (mars 2004–juin 2005), Éducation nationale (depuis le 18 mai 2007) ; maire de Périgueux de 1997 à 2002 puis de 2005 à 2008 ; sénateur de la Dordogne (1998-2002)
    Christine Deviers-Joncour, née le 28 juin 1947 à La Cassagne est devenue célèbre du fait de son implication dans l'affaire Elf.
    François Roussel est un homme politique français né le 4 août 1947 à Guer dans le Morbihan, maire de Neuvic depuis 1983.
    Daniel Garrigue, est un homme politique français né le 4 avril 1948 à Talence dans la Gironde Il est élu pour la première fois conseiller général de la Dordogne, lors des cantonales de 1992, puis élu député de la 2e circonscription de la Dordogne en 1993. Il est élu maire de Bergerac de 1995 à 2008. Ayant perdu son siège de député aux législatives de 1997, il le retrouve en 2002, et est réélu député de la Dordogne en 2007. Il remporte les cantonales le 28 mars 2011 et devient conseiller général de Bergerac.
    Germinal Peiro, est un homme politique français, né le 15 septembre 1953 à Lézignan-Corbières (Aude). Il est réélu député le 16 juin 2007, pour la XIIIe législature (2007-2012), dans la 4e circonscription de la Dordogne. Il fait partie du groupe socialiste. On lui doit la loi Peiro, votée en 1998, qui instaure la retraite complémentaire obligatoire pour les agriculteurs.
    Dominique Bousquet est un homme politique français, né le 23 septembre 1953 à Brive-la-Gaillarde (Corrèze). Vétérinaire de profession, il est adhérent de l'Union pour un mouvement populaire après avoir été membre du Rassemblement pour la République et président du groupe "Union des Démocrates de la Dordogne" du Conseil Général de la Dordogne.
    Bernard Gauducheau est un homme politique français, né le 26 juin 1955 à Périgueux.
    Pascal Deguilhem, professeur de faculté et homme politique, est né le 9 février 1956 à Brouchaud.
    Colette Langlade, née le 20 juin 1956 à Sorges, est une femme politique française, membre du PS.
    Jérôme Peyrat, né le 28 novembre 1962 à Sarlat, est un haut fonctionnaire et homme politique français.

Personnalités militaires
XVIIIe siècle

    Nicolas Beaupuy (Mussidan 1750 - Mussidan 19 septembre 1802) est un militaire et homme politique français.
    Michel de Beaupuy (Armand-Michel Bachelier de Beaupuy), né à Mussidan en 1757, tué au Val d'Enfer en 1796, est un général français de la Révolution.
    Jacques d'Izarn de Valady (Jacques d'Izarn de Fraissinet de Valady), comte de Valady, né le 23 septembre 1766 à Villefranche-de-Rouergue - mort le 24 décembre 1793 à Périgueux, est un militaire français, député sous la Révolution française, fusillé sous la Terreur.
    Pierre Yrieix Daumesnil (1777–1832), général d'Empire, né à Périgueux
    Thomas-Robert Bugeaud (1784-1849), duc d'Isly, général puis maréchal de France, maire d’Excideuil entre 1825 et 1830 et député d’Excideuil de 1831 à 1848

XIXe siècle

    Armand Alexandre Emmanuel d'Hautefort (ou de Hautefort), est un général de brigade français. Né le 5 mai 1823, à Saint-Laurent en Dordogne, il est le fils du Armand-Joseph-Camille marquis d'Hautefort, inspecteur des postes à Nancy et d'Anne-Laure Bertin. Mort à Paris, le 28 octobre 1903.
    Louis Philippe Maine est né le 4 septembre 1830 à Mussidan, mort en 1893 à Douzillac.

Personnalités religieuses
XVe siècle

    Pierre d'Abzac de La Douze est un prélat français du XVe siècle, né en 1427 et mort en 1502 à La Douze, qui fut évêque de Rieux, de Lectoure, puis archevêque de Narbonne.

XVIIIe siècle

    Guillaume-Antoine Delfaud ou Guillaume Delfaud (né en 1733 à L'Étang-de-Lol à Daglan, mort le 2 septembre 1792 à Paris) était un religieux jésuite et homme politique français, dont l'activité s'exerça pendant la période de la Révolution.
    Jean Marie du Lau d'Allemans, né le 30 octobre 1738 au Château de la Côte à Biras, et assassiné le 2 septembre 1792 à Paris, aux Carmes, est archevêque d’Arles (du 1er octobre 1775 -1790). Il est considéré comme bienheureux et martyr par l’Église catholique.
    Guillaume-Joseph Chaminade, né le 8 avril 1761 à Périgueux, et mort à Bordeaux le 22 janvier 1850. Il était un prêtre français, fondateur des Filles de Marie Immaculée et de la Société de Marie (Marianistes). Il fut béatifié en septembre 2000.
    Antoine Auriel-Constant, Né à Manobre (commune de Sainte-Mondane) en 1764, mort en 1794 sur les pontons de Rochefort, le bienheureux Antoine Auriel-Constant a été prêtre pour le diocèse de Cahors et martyrisé durant la Terreur.
    Ami Bost, pasteur protestant, est né le 10 juin 1790 à Genève, il est décédé le 24 décembre 1874 à La Force).

XXe siècle

    Robert Bézac des Martinies (1904-1989), évêque d'Aire et Dax de 1963 à 1978, est né à Périgueux.
    Madeleine Delbrêl, née le 24 octobre 1904 à Mussidan et décédée le 13 octobre 1964, était une mystique chrétienne française, assistante sociale, essayiste et poétesse.

Artistes
XIXe siècle

    Jacques-Émile Lafon (Périgueux 1817-1886) est un peintre français
    Jean Baptiste Antoine Guillemet, né à Chantilly le 30 juin 1841 et mort en Dordogne en 1918, est un peintre paysagiste français de style impressionniste.
    Auguste Lepère (Louis Auguste Lepère), né à Paris le 30 novembre 1849 et mort à Domme le 20 novembre 1918, est un graveur, illustrateur et peintre français.
    Jean Carlus (né en 1852 à Lavaur, - mort en 1930) était un sculpteur français, dont l'œuvre reste largement méconnue.
    Georges Goursat dit Sem est un affichiste, caricaturiste, chroniqueur mondain, illustrateur et écrivain tardif. Il inaugure en 1900, une carrière parisienne qui se prolonge aujourd’hui dans des salles de vente à New York ou au Japon. Il est né à Périgueux en 1863 et mort à Paris en 1934.
    Georges Halbout du Tanney est un sculpteur français, né à Paris le 15 décembre 1895, décédé à Bourdeilles le 7 juin 1986.

XXe siècle

    Jacques Teulet, né le 20 février 1949 à Alles-sur-Dordogne, est un artiste-peintre, graphiste et lithographe figuratif français.

Cinéma, théâtre, acteurs
XIXe siècle

    Paul Mounet, né Jean-Paul Sully le 5 octobre 1847 à Bergerac, décédé le 10 février 1922 à Paris (France), était un acteur français.
    Jean Murat est un acteur français, né le 13 juillet 1888 à Périgueux et décédé le jeudi 4 janvier 1968 à Aix-en-Provence (Bouches-du-Rhône).
    Louis Delluc (1890–1924), né à Cadouin, critique et cinéaste, éveilleur du cinéma français

XXe siècle

    Georges Marchal, (Georges Louis Marchal), né le 10 janvier 1920 à Nancy et décédé le 28 novembre 1997 à Maurens, est un acteur français.
    Jacques Rispal, né le 1er août 1923 à Belvès et mort le 9 février 1986 à Suresnes (Hauts-de-Seine), est un acteur français.

Banquiers, économistes, industriels, hommes d'affaires
XIXe siècle

    Jean-Gustave Courcelle-Seneuil, né à Seneuil, hameau de la commune de Vanxains, le 22 décembre 1813 et mort à Paris le 29 juin 1892, est un économiste français de l'école libérale.
    Léon Faure est un industriel français né le 12 décembre 1866 à Azerat et décédé le 19 mars 1951.
    Jean-Georges Villepontoux (1884-1963) fut au XXe siècle l'une des grandes figures de la Banque de France dont il dirigea le Contrôle Général. Il était également Chevalier de la Légion d'honneur et membre de la Société de géographie.
    Sylvain Floirat (1899-1993), né le 28 septembre 1899 à Nailhac, industriel et homme d'affaires.

XXe siècle

    Claude Bébéar, né le 29 juillet 1935 à Issac, est un homme d'affaires français.

Écrivains, philosophes, poètes, chansonniers, journalistes
XIIe siècle

    Bertran de Born, (v.1140 - v.1215), un des plus célèbres troubadours, seigneur de Hautefort au XIIe siècle
    Arnaut Daniel, (XIIe siècle), considéré comme l'un des plus virtuoses troubadours, né à Ribérac

XVIe siècle

    Étienne de La Boétie, (1530-1563), écrivain et philosophe français, né à Sarlat
    Michel de Montaigne, (1533-1592), écrivain philosophe français, né à Saint-Michel-de-Montaigne
    Pierre de Bourdeille dit Brantôme, (v. 1540-1614), écrivain français, seigneur de Brantôme, né à Bourdeilles
*/