#fc { margin: 0px; padding: 0px; background-color: transparent; }
#fc_align img { vertical-align: top; }
#fc_align > img[width="0"][height="0"] { display: none; }
#fc_align > img[width="1"][height="1"] { display: none; }
#fc { background-color: transparent; }
