/* ::::: https://apis.google.com/_/scs/apps-static/_/ss/k=oz.hovercard.-p1k2uxnl3iki.L.F4.O/am=Bg/d=0/rs=AGLTcCMJsrppGdsgZl-9GVRZWgA0bEh9ig ::::: */

* html .d-k-l, :first-child + html .d-k-l { display: inline; }
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
}
body { background-color: transparent; font: 13px normal arial,sans-serif; margin: 0px; }
