body, dl, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
html { color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
body, button, input, select, textarea { font: 12px/1.5 tahoma,"helvetica neue",tahoma,"hiragino sans gb",stheiti,"wenquanyi micro hei",微软雅黑,宋体,sans-serif; }
ins, a { text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: medium none; vertical-align: top; }
.clear {  }
.clear:before, .clear:after { display: table; content: ""; }
.clear:after { clear: both; }
.temp { width: 318px; height: 283px; border: 1px solid rgb(225, 33, 40); overflow: hidden; }
.temp_logo { display: inline-block; background-image: url('320x285_logo.png'); background-repeat: no-repeat; width: 26px; height: 31px; background-position: 0px 0px; }
.temp_bd { float: left; width: 283px; height: 283px; overflow: hidden; }
.temp_panel { display: none; }
.temp_hd { width: 35px; float: left; padding: 11px 0px 0px; text-align: center; }
.slide-nav { margin-top: 8px; line-height: 1; font-size: 0px; }
.slide-nav b { display: block; width: 17px; height: 17px; border: 1px solid rgb(195, 195, 195); font-size: 12px; line-height: 17px; margin: 6px auto 0px; border-radius: 9px; cursor: pointer; color: rgb(155, 155, 155); font-weight: normal; }
.slide-nav b.current { background: none repeat scroll 0% 0% rgb(225, 33, 40); border: 1px solid rgb(224, 36, 40); color: rgb(255, 255, 255); }
